### Title: Midterm 
### Author: Akshay Kumar reddy nalla
### Date: 10/4/2023

In [1]:
import pandas as pd
from cassandra.cluster import Cluster

### Use session to 'talk' to cassandra

In [2]:
clstr = Cluster()
session = clstr.connect()

In [3]:
session.execute("DROP KEYSPACE IF EXISTS w04python")

In [4]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
userdata

In [5]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS w04python WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':3
    }
""")

In [6]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
userdata
w04python

In [7]:
with open('file1.jpg','w') as fout1:
    fout1.write("user akshay")

with open('file2.doc','w') as fout2:
    fout2.write("user vinay")

with open('file3.pdf','w') as fout3:
    fout3.write("user praharsha")

with open('file4.mp4','w') as fout4:
    fout4.write("user rakesh")

In [8]:
with open('file1.jpg', 'r') as file1:
    temp1=file1.read()
    print(temp1)

with open('file2.doc', 'r') as file2:
    temp2=file2.read()
    print(temp2)

with open('file3.pdf', 'r') as file3:
    temp3=file3.read()
    print(temp3)

with open('file4.mp4', 'r') as file4:
    temp4=file4.read()
    print(temp4)

user akshay
user vinay
user praharsha
user rakesh

### Creating Table

In [9]:
session.execute("""
CREATE TABLE IF NOT EXISTS w04python.filedata ( 
    user_id INT, 
    date TEXT, 
    file_type TEXT, 
    file_location TEXT,
    file_content TEXT, 
    PRIMARY KEY(user_id)
);
""")

In [10]:
df = pd.read_csv('filedata.csv')
df

   user_id          date file_type                        file_location
0      100  '21-05-2023'     'jpg'  '/home/student/Workbench/file1.jpg'
1      101  '22-05-2023'     'mp4'  '/home/student/Workbench/file2.doc'
2      102  '23-05-2023'     'jpg'  '/home/student/Workbench/file3.pdf'
3      103  '24-05-2023'     'png'  '/home/student/Workbench/file4.mp4'

In [11]:
df['file_content']=[temp1,temp2,temp3,temp4]

In [12]:
for index, row in df.iterrows():
    print(f"user_id = {row.user_id}, date ={row.date}, file_type = {row.file_type}, file_location = {row.file_location}, file_content = {row.file_content}")

user_id = 100, date ='21-05-2023', file_type = 'jpg', file_location = '/home/student/Workbench/file1.jpg', file_content = user akshay
user_id = 101, date ='22-05-2023', file_type = 'mp4', file_location = '/home/student/Workbench/file2.doc', file_content = user vinay
user_id = 102, date ='23-05-2023', file_type = 'jpg', file_location = '/home/student/Workbench/file3.pdf', file_content = user praharsha
user_id = 103, date ='24-05-2023', file_type = 'png', file_location = '/home/student/Workbench/file4.mp4', file_content = user rakesh

In [13]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO w04python.filedata (user_id, date, file_type, file_location, file_content)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]}, {row[4]});
        """
    )
    session.execute(f"""
        INSERT INTO w04python.filedata (user_id, date, file_type, file_location, file_content)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]}, '{row[4]}');
        """
    )

        INSERT INTO w04python.filedata (user_id, date, file_type, file_location, file_content)
        VALUES (100, '21-05-2023', 'jpg', '/home/student/Workbench/file1.jpg', user akshay);


        INSERT INTO w04python.filedata (user_id, date, file_type, file_location, file_content)
        VALUES (101, '22-05-2023', 'mp4', '/home/student/Workbench/file2.doc', user vinay);


        INSERT INTO w04python.filedata (user_id, date, file_type, file_location, file_content)
        VALUES (102, '23-05-2023', 'jpg', '/home/student/Workbench/file3.pdf', user praharsha);


        INSERT INTO w04python.filedata (user_id, date, file_type, file_location, file_content)
        VALUES (103, '24-05-2023', 'png', '/home/student/Workbench/file4.mp4', user rakesh);

In [14]:
# To search for and return file location and datas

rows = session.execute("select (user_id, date, file_location, file_content) from w04python.filedata where user_id = 101")
for row in rows:
    print(f"{row[0][0]}, {row[0][1]}, file_location={row[0][2]}, file_content={row[0][3]}")

101, 22-05-2023, file_location=/home/student/Workbench/file2.doc, file_content=user vinay

In [15]:
# delete the record
session.execute(f"""
    DELETE FROM w04python.filedata
    WHERE
        user_id = 101;
    """
)